body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

/* Border Radius: pass border size value
**/
/* Text shadow. If color is in hexadecimal, prefix '#'.
**/
/* Box shadow. If color is in hexadecimal, prefix '#'.
**/
/* Box shadow with outer and inner shadow. If color is in hexadecimal, prefix '#'.
**/
/* Center align an element with position absolute: pass width and height. Used this for model window or popup.
**/
/* Vertical align an inner element or content: pass width and height.
**/
/* Grid Configurations
**/
#headerContent, #mainConent, #footerContent {
  max-width: 1920px;
  min-width: 1024px;
  margin: 0 auto;
  background: #ddd; }

/* Header
**/
/* Footer
**/
/* Main Content
**/
/* Handheld Screen
*
@media screen and (max-width: 959px){
	.contentWrap{
		.mainConent{
			.item1{
				@include column(16, 16);
			}
			.item2{
				@include column(16, 16);
			}
		}
	}
}
*/
