
/* Border Radius: pass border size value
**/
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius+px;
     -moz-border-radius: $radius+px;
      -ms-border-radius: $radius+px;
          border-radius: $radius+px;
}


/* Text shadow. If color is in hexadecimal, prefix '#'.
**/
@mixin textShadow($left, $top, $blurSize, $color){
	text-shadow: $left+px $top+px $blurSize+px $color;
}


/* Box shadow. If color is in hexadecimal, prefix '#'.
**/
@mixin boxShadow($left, $top, $blurSize, $color, $type:null){
	-moz-box-shadow: $left+px $top+px $blurSize+px $color $type;
	-webkit-box-shadow: $left+px $top+px $blurSize+px $color $type;
	box-shadow: $left+px $top+px $blurSize+px $color $type;
}


/* Box shadow with outer and inner shadow. If color is in hexadecimal, prefix '#'.
**/
@mixin boxShadow2d($left1, $top1, $blurSize1, $color1, $left2, $top2, $blurSize2, $color2){
	-moz-box-shadow: $left1+px $top1+px $blurSize1+px $color1, $left2+px $top2+px $blurSize2+px $color2 inset;
	-webkit-box-shadow: $left1+px $top1+px $blurSize1+px $color1, $left2+px $top2+px $blurSize2+px $color2 inset;
	box-shadow: $left1+px $top1+px $blurSize1+px $color1, $left2+px $top2+px $blurSize2+px $color2 inset;
}


/* Center align an element with position absolute: pass width and height. Used this for model window or popup.
**/
@mixin centerAlignMiddle($width, $height){
	width: $width+px;
	height: $height+px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -($height/2)+px;
	margin-left: -($width/2)+px;
}


/* Vertical align an inner element or content: pass width and height.
**/
@mixin verticalAlignMiddle($width, $height){
	width: $width+px;
	height: $height+px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}


