
@import "grid", "mixins";

/* Grid Configurations
**/
$column-width:120px;
$gutter-width:0px;
$columns:16;

$total-width:100%;

#appWrapper{}
#headerGrid, #conentGrid, #footerGrid{max-width:1920px; min-width:1024px; margin:0 auto; background:#ddd;}


/* Header
**/
#headerWrap{}
#headerWrap #headerGrid{}


/* Footer
**/
#footerWrap{}
#footerWrap #footerGrid{}


/* Main Content
**/
#contentWrap{}
#contentWrap #conentGrid #mainConent{background:#fff; margin:0 30px;}


/* Handheld Screen
*
@media screen and (max-width: 959px){
	#contentWrap #conentGrid{
			#mainConent{
				.item1{
					@include column(16, 16);
				}
				.item2{
					@include column(16, 16);
				}
			}
		}
}
*/